/* Define a base font size in the root element */
html {
  font-size: 16px;
}

/* Use rem units for defining styles */
.navbar {
  background-color: #333;
  overflow: hidden;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 1rem; /* 1rem is equivalent to 16px */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1rem; /* 1rem is equivalent to 16px */
}


@media screen and (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
  }

  .navbar li {
    margin: 0;
    padding: 0.5rem 0; /* Adjust as needed */
    text-align: center;
  }

  .toggle-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; /* Adjust as needed */
    color: blue;
    position: absolute;
    top: 1rem; /* Adjust as needed */
    right: 1rem; /* Adjust as needed */
  }


  .navbar ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .navbar ul.show {
    max-height: 300px; /* Adjust as needed */
  }
}
@media screen and (min-width: 601px) {
  .toggle-button {
    display: none; /* Hide the toggle button on desktop screens */
  }
}
